*{
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

.flex {
    display: flex;
    width: 600px;
    height: 600px;
    border: 5px solid black;
    margin: 50px auto; 
    align-items: center;

}

.flex .item {
    background-color: lightblue;
    height: 100px;
    flex-grow: 1; /* Elemanlar genişleyebilir */
}

.flex .item:first-child{
    order: 5; /* İlk öğeyi en sona taşır */
}

.flex .item:nth-child(4){
    align-self: flex-start;}

.flex .item:nth-child(3){
    flex-grow: 3;}

.flex .item:nth-child(1){
    flex-shrink: 5;}  /* İlk öğe küçültülebilir */