html , body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    scroll-behavior: smooth; /* Sayfa kaydırma davranışını yumuşatır */

}

nav {

    background-color: yellowgreen;
    position: sticky; /* Sayfanın üst kısmına yapışır */
    top: 0; /* Sayfanın en üstünde kalır */
   
}

nav a {
    line-height: 50px;
    color: white;
    text-decoration: none;
    padding: 10px;
}

section {
    height: 100vh; /*her bir bölüm, görünüm alanının tamamını kaplar.*/
    padding: 20px;
    scroll-margin: 50px; /* Her bölümün üstünde 50px boşluk bırakır */
}

#Home {
    background-color: lightblue;
}

#About {
    background-color: lightcoral;
}

#Services {
    background-color: lightgreen;
}

#Contact {
    background-color: lightyellow;
}   

.top{
    position: fixed; /* Sayfanın en üstünde kalır */
    bottom: 20px; 
    right: 20px;
    background-color: yellowgreen;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none; /* Bağlantı stilini kaldırır */
}